body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f0eff4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
